<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/COCTMunicipality.styles.css" asp-append-version="true" />
    <style>
        body.index-page .navbar {
            display: inline-flex;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 10px;
            padding: 0.5rem 1rem;
            box-shadow: 0 2px 8px rgba(0,0,0,0.2);
            margin-top: 20px;
        }

    </style>
</head>
<body class="@ViewData["BodyClass"]">
    <header>
        <div style="text-align: center; margin-top: 20px;">
        <nav class="navbar navbar-light mb-3">

                <a class="navbar-brand"  asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo/logo.png" alt="COCT Municipality Logo" class="img-fluid" style="max-height: 200px; max-width: 200px;" />
                </a>
        </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
